<h1>Create User Account</h1>
<form class="signup_form" action="/service_members/signup" method="POST">
    <p>
      <label for="service_member[first_name]">First Name:</label>
      <input name="service_member[first_name]" type="text" required="required" />
    </p>
    </>
      <label for="service_member[last_name]">Last Name:</label>
      <input name="service_member[last_name]" type="text" required="required" />
    </p>
    <p>
      <label for="service_member[email]">Email:</label>
      <input name="service_member[email]" type="email" required="required" />
    </p>
    <% if flash.has?(:message) %>
      <div class="flash-message"><%= flash[:message] %></div>
    <% end %>
    <p>
      <label for="service_member[password]">Password:</label>
      <input name="service_member[password]" type="password" maxength="30" required="required" />
    </p>
    <p>
      <label for="service_member[confirm_password]">Confirm Password:</label>
      <input name="service_member[confirm_password]" type="password" maxength="30" required="required" />
    </p>
  <p>
    <input type="submit" value="Create Account" />
  </p>
</form>
<p>or</p>
<form action="/service_members/login" >
  <input type="submit" value="Login" />
</form>