<h1>Create User Account</h1>
<form action="/service_members/signup" method="POST">
  <p>
    <label for="service_member[first_name]">First Name:</label>
    <input name="service_member[first_name]" type="text" />
    <label for="service_member[last_name]">Last Name:</label>
    <input name="service_member[last_name]" type="text" />
  </p>
  <p>
    <label for="service_member[email]">Email:</label>
    <input name="service_member[email]" type="text" />
  </p>
  <p>
    <label for="service_member[password]">Password:</label>
    <input name="service_member[password]" type="password" />
  </p>
  <p>
    <input type="submit" value="Create Account" />
  </p>
</form>