<% if @logged_in %>
  <p>Welcome back, <%= @sm.first_name %>!</p>
  <h1>My iLoveMeBook</h1>
  <form action="/books/new">
    <input type="submit" value="New Book">
  </form>
  <form action="/service_members/logout">
    <input type="submit" value="Log Out" />
  </form>
<% end %>