<% if @logged_in %>
  <p>Welcome, <%= @sm.first_name %>!</p>
  <h1><%= @sm.first_name %> <%= @sm.last_name %>'s iLoveMeBook</h1>
  <form action="/service_members/logout">
    <input type="submit" value="Log Out" />
  </form>
<% end %>