  <h1>My Account</h1>
   <% if flash.has?(:message) %>
    <div class="flash-message"><%= flash[:message] %></div>
  <% end %>
  <form action="/service_members/<%= @sm.slug %>/edit">
    <input type="submit" value="Edit Account Information">
  </form>

  <form action="/service_members/logout">
    <input type="submit" value="Log Out" />
  </form>
  <h2>Books</h2>
  <div class="books">
    <ul>
      <% @sm.books.each do |book| %>
        <li><a href="/books/<%= book.id %>"><%= book.book_name %></a></li>
      <% end %>
    </ul>
    <br></br>
    <form action="/books/new">
      <input type="submit" value="New Book">
    </form>
  </div>
  