<h1>All of your awards.</h1>
<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>
<% @awards.each do |award| %>
  <ul>
    <li><a href="/awards/<%= award.id %>"><%= award.name %></a></li>
  </ul>
<% end %>