<h1>All of your books</h1>
<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>
<% @books.each do |book| %>
  <ul>
    <li><a href="/books/<%= book.id %>"><%= book.book_name %></a></li>
  </ul>
<% end %>